// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif; // A more neutral font to serve as the default text font
$font-display: 'Josefin Sans', sans-serif; // A thinner more stylized font for the luxury modern feel

$full-bleed-width: minmax(6rem, 1fr); // At smallest, 60px || at largest, 1fr

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // This is so that if we want a whole component to use a certain box-sizing system, we only have to declare it in the oldest parent of the component for the children to inherit
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // This sets the default font-size to 10px because most broswers default to 16px, and 62.5% of 16 is 10. This makes it easier to use rem units.
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // 8 columns with width between their min-content and 14rem mean that a maximum possible width is 1120px (14rem * 8)
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] $full-bleed-width [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    $full-bleed-width [full-end]; // 14rme = 140px = 1140/8 (8 columns)
}
