// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif; // A more neutral font to serve as the default text font
$font-display: 'Josefin Sans', sans-serif; // A thinner more stylized font for the luxury modern feel

$full-bleed-width: minmax(6rem, 1fr); // At smallest, 60px || at largest, 1fr

// RESPONSIVE BREAKPOINTS
// ----------------------- (x / 16) where x = desired breakpoint in px
$bp-largest: 75em; // ---- 1200px
$bp-large: 62.5em; // --- 1000px
$bp-medium: 50em; // -- 800px

$bp-small: 37.5em; // ---- 600px
$bp-smallest: 31.25em; // ---- 500px
$bp-phone: 25em; // ---- 400px

// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // This is so that if we want a whole component to use a certain box-sizing system, we only have to declare it in the oldest parent of the component for the children to inherit
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // This sets the default font-size to 10px because most broswers default to 16px, and 62.5% of 16 is 10. This makes it easier to use rem units.

  // GLOBAL SPACING MEDIA QUERY
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  /*   @media only screen and (max-width: $bp-large) {
    font-size: 43.75%;
  } */
}

// DEFAULT FONT STYLES
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
}

// GENERAL LAYOUT
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // 8 columns with width between their min-content and 14rem mean that a maximum possible width is 1120px (14rem * 8)
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] $full-bleed-width [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    $full-bleed-width [full-end]; // 14rme = 140px = 1140/8 (8 columns)

  // 1000px WIDTH VIEWPORT
  @media only screen and (max-width: $bp-large) {
    // Add new row and remove first column
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    // 8 columns with width between their min-content and 14rem mean that a maximum possible width is 1120px (14rem * 8)
    grid-template-columns:
      [full-start] $full-bleed-width [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end]
      $full-bleed-width [full-end]; // 14rme = 140px = 1140/8 (8 columns)
  }
}

// UTILITY CLASSES
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.u-unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb-md {
  margin-bottom: 3rem;
}
.u-mb-lg {
  margin-bottom: 4rem;
}
.u-mb-hg {
  margin-bottom: 8rem;
}

///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
